/*////////   Personal Overrides   ////////*/

body {
	background-image: url("http://i59.tinypic.com/e6znvd.png");
}

hr { 
	display: block; 
	height: 1px;
    border: 0; 
    border-top: 1px 
    solid #ccc;
    margin: 1em 0; 
    padding: 0; 
}

/* NAVIGATION */

.navbar-default .navbar-nav>li>a.twit:hover, .navbar-default .navbar-nav>li>a.twit:focus {
	color: #4099ff;
}

.navbar-default .navbar-nav>li>a.fbook:hover, .navbar-default .navbar-nav>li>a.fbook:focus {
	color: #3b5998;
}

.navbar-default .navbar-nav>li>a.igram:hover, .navbar-default .navbar-nav>li>a.igram:focus {
	color: #cbbba5;
}

.nav.navbar-right > li > a {
	padding-top: 10px;
	padding-bottom: 10px;
}

/* CAROUSEL */

div#carousel-example-generic.carousel.slide {
	border-radius: 3px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border: 2px solid #acbece;
}

.carousel-caption { 
	font-size: 5em;
}

.carousel-caption a { 
	color: #fff;
}

.fa-chevron-circle-right, .carousel-caption a:hover { 
	color: #C1D72E;
	text-decoration: none;
}

div.headline {
	left: 10px;
	clear: both;
	color: #fff;
	text-align: left;
	font-size: 2em;
	width: 300px;
}

div.headline2 {
	left: 615px;
	clear: both;
	color: #fff;
	text-align: right;
	font-size: 2em;
	width: 300px;
}

div.headline h1, div.headline2 h1 {
	color: #C1D72E;
}
/* LAYOUT */

.carousel {
	margin-bottom: 20px;
}

.join {
	padding-left: 10px;
	padding-right: 10px;
}

.join-btn {
	margin-top: 10px;
}

.panel {
margin-bottom: 0px;
}

/* FOOTER */

.panel-footer {
padding: 10px 10px;
background-image: url("http://i62.tinypic.com/nq47di.png");
color: #f5f5f5;
border-top: 1px solid #ddd;
border-bottom-right-radius: 3px;
border-bottom-left-radius: 3px;
}

.panel-footer ul {
	list-style: none;
}

.panel-footer li {
	display: inline-block;
	margin-right: 10px;
	margin-left: 10px;
	padding:5px;
}

.panel-primary {
	border-color: #acbece;
}

.text-right {
	text-align: right;
}


/* DEVICE STYLES */

@media (min-width: 1200px) {
	.container {
		width: 970px;
	}
}

@media (max-width: 992px) {
	.hide-col {
		 display: none;
	}
}

@media (max-width: 992px) {
	.add-margin {
		 margin-bottom: 10px;
	}
}
